<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.code == true %}<link rel="stylesheet" href="/assets/highlight/monokai-sublime.min.css">{% endif %}
    {% feed_meta %}
    {% seo %}
    <title>{{ page.title }}</title>
</head>

<body>
    <div id="main-wrapper">
        {% include _mobile.html %}
        {% include _sidebar.html %}
        {% include _main.html %}
    </div>
</body>

<script src="/assets/js/main.js"></script>

{% if page.url == "/blog.html" %}
    <script src="/assets/js/filter.js"></script>
    {% include _search-loader.html %}
{% elsif page.url == "/thank-you-for-your-donation.html" %}
    <script src="/assets/js/confetti.js"></script>
{% endif %}

{% if page.code == true %}
    <script src="/assets/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="/assets/highlight/highlight-div-class-code.js"></script>
{% endif %}

{% if page.toc == true %}
    <script src="/assets/js/toc-scroll.js"></script>
{% endif %}

</html>